<script type="text/x-template" id="employee_list">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-1">
          <strong>
            #
          </strong>
        </div>

        <div class="col-3">
          <strong>
            Surname
          </strong>
          <search_by_field
              :field_name="'surname'" @search_data="get_employee_list">

          </search_by_field>
        </div>

        <div class="col-3">
          <strong>
            Name
          </strong>
          <search_by_field
              :field_name="'name'" @search_data="get_employee_list">

          </search_by_field>
        </div>

        <div class="col-3">
          <strong>
            Patronymic
          </strong>
          <search_by_field
              :field_name="'patronymic'" @search_data="get_employee_list">

          </search_by_field>
        </div>

        <div class="col-2">
          <strong>
            Sex
          </strong>
          <search_by_field
              :field_name="'sex'" @search_data="get_employee_list">

          </search_by_field>
        </div>
      </div>
    </li>
    <li class="list-group-item list-group-item-action"
        v-for="employee, index in employee_list" @click.prevent="$emit('edit_employee', employee)">
      <div class="row">
        <div class="col-1">
          [[index + 1]]
        </div>

        <div class="col-3">
          [[employee.surname]]
        </div>

        <div class="col-3">
          [[employee.name]]
        </div>

        <div class="col-3">
          [[employee.patronymic]]
        </div>

        <div class="col-1">
          [[employee.sex]]
        </div>
      </div>
    </li>
  </ul>
</script>

<script>
  let employee_list = {
    template:'#employee_list',
    delimiters: ["[[", "]]"],
    data() {
      return {
        employee_list: []
      }
    },
    methods: {
      get_employee_list: function (search_data) {
        search_data = get_query_for_field_search(search_data);
        axios_instance.get(`employee/${search_data}`).then(response=>{
          if (response.status === 200){
            this.employee_list = response.data
          }
        })
      }
    },
    mounted: function () {
      this.get_employee_list()
    }
  }
</script>